header {
  flex: 0 80px;
  background: #8C33B6 !important;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
}

#search{
    
}