#chatbox {
    flex: 1;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-bottom: 50px; /* Space for footer */
    padding: 5px;
    box-sizing: border-box;
}

header {
  flex: 0 80px;
  background:#8C33B6 !important;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header h1 {
  display: flex;
  align-items: center;
  gap: 10px;           
  color: black;        
  font-size: 2em;      
  margin: 0;           
}