#map {
  height: 400px;
  width: 95%;
  max-height: calc(100vh - 200px); /* prevents overflow, increased to account for search bar */
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  font-size: 0.9rem;
  line-height: 1.3;
}


#search {
  margin-bottom: 2rem;
}

main {
  padding-bottom: 80px; /* adjust based on footer height */
}
