@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.google.com/share?selection.family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900|Roboto+Flex:opsz,wght@8..144,100..1000|Walter+Turncoat');

.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* choose a weight like 400, 500, 700 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

    color: #1a1a1a;
}

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  color: #000000;
}

.spinner-border {
    display: none;
}

.spinning .spinner-border {
    display: inline-block;
}

header {
    margin-top: 10vh;
}

.btn-primary,
.bg-primary {
  background-color: #8C33B6 !important; /* your new primary color */
  border-color: #8C33B6 !important;
}

.text-primary {
  color: #ff5722 !important;
}
